extends layout.pug

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p.
      Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏

    include partials/categories-row.pug

    include partials/favorites.pug
  
    section.main-page__list.preview
      h2.visually-hidden Список превью статей
      ul.preview__list
        each article in articles
          li.preview__item
            ul.preview__breadcrumbs
              each category in article.categories
                li.preview__breadcrumbs-item
                  a.preview__breadcrumbs-link(href='#') #{category.name}
            .preview__background
              img.preview__background-image(src=`https://picsum.photos/460/240?random=${article.id}` width='460' height='240' alt='')
            time.preview__time(datetime=`${article.createdDate}`) #{article.createdDate.slice(0, 10)}, #{article.createdDate.slice(11, 16)}
            h3.preview__name
              a.preview__name-link(href=`/articles/${article.id}`) #{article.title}
            p.preview__text #{article.announce.slice(0, 100) + `...`}
            a.preview__comment(href='#')
              | Комментарии 
              span.preview__cloud
              |  
              b.preview__comment-count #{article.comments.length}
        
